@media (max-height: 568px) {
    .CustomTextField input {
        padding: 10px !important;
    }
}


.CustomTextField input::-webkit-outer-spin-button,
.CustomTextField input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}